<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.themanusia.digitalsignature">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignaturePDF">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="xyz.themanusia.digitalsignature.ui.signature.SignatureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.FullScreen" />
        <activity
            android:name="xyz.themanusia.digitalsignature.ui.pdf.PdfActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="xyz.themanusia.digitalsignature.ui.home.HomeActivity" />
        <activity
            android:name="xyz.themanusia.digitalsignature.MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>